body{
    background-color: rgba(67, 35, 250, 0.836);
}
a{
    color: rgb(0, 0, 0);
}
.col{
    background-color: #000000;
}
.container{
    margin-top:20px;
    border-radius: 15px;
    }